In [1]:
!pip install -U finance-datareader
!pip install opendartreader

Collecting finance-datareader
  Downloading finance_datareader-0.9.31-py3-none-any.whl (17 kB)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.62.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (4.2.6)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from finance-datareader) (1.3.5)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance-datareader) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.31 requests-file-1.5.1
Collecting opendartreader
  Downloading OpenDartReader-0.1.6-py3-none-any.whl (19 kB)
Requirement already satisfied: requests-file in /usr/local/lib/python3.7/dist-packages (from opendartreader) (1.5.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from opendartreader) (4.2.6)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from opendartreader) (2.23.0)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from opendartreader) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->opendartreader) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->opendartreader) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->opendartreader) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->opendartreader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->opendartreader) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->opendartreader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->opendartreader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->opendartreader) (1.24.3)
Installing collected packages: opendartreader
Successfully installed opendartreader-0.1.6

In [2]:
import OpenDartReader
import FinanceDataReader as fdr
import pandas as pd
import time
from pathlib import Path

#api_key = '85c2367fdad752f376b3947ccdf9998092765f0e'  # OpenDart API KEY 장재영
api_key = '92d9f8aa9b71e2a04bb68d1ff79843860c2ed22a'  # OpenDart API KEY 강동표

In [3]:
import datetime

In [4]:
dart = OpenDartReader(api_key)

In [5]:
symbols = fdr.StockListing("KRX")
symbols = list(symbols['Symbol'])

In [6]:
symbols[:5]

['060310', '095570', '006840', '054620', '265520']

In [7]:
from tqdm import tqdm

In [ ]:
today = datetime.datetime.now().strftime("%Y-%m-%d")

In [ ]:
print('krx_statements-' + today + '.csv')

krx_statements-2022-02-25.csv

In [8]:
# '11013' = 1분기보고서, '11012' = 반기보고서, '11014' = 3분기보고서, '11011' = 사업보고서
reprt_code = ['11013', '11012', '11014', '11011']

In [9]:
finance_statements = pd.DataFrame(columns=['종목코드', '유동자산', '부채총계', '자본총계', '매출액', '매출총이익', '영업이익',
                            '당기순이익', '영업활동현금흐름', '잉여현금흐름'], index=['1900-01-01'])

In [ ]:
#finance_statements.to_csv('/content/drive/MyDrive/22캡스톤디자인/krx_statements-' + today + '.csv')

In [ ]:
pd.read_csv('/content/drive/MyDrive/22캡스톤디자인/krx_statements-2022-02-24.csv')

In [15]:
worked = []
for symbol in symbols:
  if str.isdigit(symbol[:5]) and len(symbol) < 7:
    worked.append(symbol)

In [ ]:
# 데이터를 얻기위한 반복문 시작

for symbol in tqdm(worked[203:]):
    print(symbol)
    all_finance_statements = pd.DataFrame(columns=['종목코드', '유동자산', '부채총계', '자본총계', '매출액', '매출총이익', '영업이익',
                            '당기순이익', '영업활동현금흐름', '잉여현금흐름'], index=['1900-01-01'])
    # 데이터 초기화. 정리된 데이터를 모으는 곳이며 얻고자 하는 데이터 이름을
    # column 화 시킴.  빈 index 를 넣으면 추가가 안되므로 임으로 하나 넣자.

    # 정리 완료된 파일 저장하기 위한 경로 및 이름. result_종목이름.xlsx 형태로 저장된다.
    fileName = f'2022_1_KRX.csv'
    symbol = str(symbol)
    finance_statement = pd.DataFrame(columns=['종목코드', '유동자산', '부채총계', '자본총계', '매출액', '매출총이익', '영업이익',
                            '당기순이익', '영업활동현금흐름', '잉여현금흐름'], index=['1900-01-01'])

    for i in range(2015, 2022):  # OpenDart는 2015년부터 정보를 제공한다.

        # 더미 리스트 초기화. 1 ~ 4 분기 데이터를 합할 예정이므로 4 크기 만큼의 리스트 선언.
        current_assets = [0, 0, 0, 0]  # 유동자산
        liabilities = [0, 0, 0, 0]  # 부채총계
        equity = [0, 0, 0, 0]  # 자본총계
        revenue = [0, 0, 0, 0]  # 매출액
        gross_marin = [0, 0, 0, 0]  # 매출총이익 #grossMargin
        EBIT = [0, 0, 0, 0]  # 영업이익 #EBIT
        net_income = [0, 0, 0, 0]  # 당기순이익
        cfo = [0, 0, 0, 0]  # 영업활동현금흐름
        cfi = [0, 0, 0, 0]  # 투자활동현금흐름
        fcf = [0, 0, 0, 0]  # 잉여현금흐름 : 편의상 영업활동 - 투자활동 현금흐름으로 계산

        for j, k in enumerate(reprt_code):
            df1 = pd.DataFrame()  # Raw Data
            df1 = df1.replace('', 0, regex=True)

            # 타입이 NoneType 이 아니면 읽어온다.
            temp = dart.finstate_all(symbol, i, reprt_code=k, fs_div='CFS')
            if str(type(temp)) != "<class 'NoneType'>":
                df1 = df1.append(temp)
                # 재무상태표 부분
                condition_1 = (df1.sj_nm == '재무상태표') & (df1.account_nm == '유동자산')  # 유동자산
                condition_2 = (df1.sj_nm == '재무상태표') & (df1.account_nm == '부채총계')  # 부채총계
                condition_3 = (df1.sj_nm == '재무상태표') & ((df1.account_nm == '자본총계') | (df1.account_nm == '반기말자본') | (
                        df1.account_nm == '3분기말자본') | (df1.account_nm == '분기말자본') | (
                                                                df1.account_nm == '1분기말자본'))  #자본총계
                # 손익계산서 부분
                condition_4 = ((df1.sj_nm == '손익계산서') | (df1.sj_nm == '포괄손익계산서')) & (
                        (df1.account_nm == '매출액') | (df1.account_nm == '수익(매출액)'))
                condition_5 = ((df1.sj_nm == '손익계산서') | (df1.sj_nm == '포괄손익계산서')) & (df1.account_nm == '매출총이익')
                condition_6 = ((df1.sj_nm == '손익계산서') | (df1.sj_nm == '포괄손익계산서')) & (
                        (df1.account_nm == '영업이익(손실)') | (df1.account_nm == '영업이익'))
                condition_7 = ((df1.sj_nm == '손익계산서') | (df1.sj_nm == '포괄손익계산서')) & (
                        (df1.account_nm == '당기순이익(손실)') | (df1.account_nm == '당기순이익') |
                        (df1.account_nm == '분기순이익') | (df1.account_nm == '분기순이익(손실)') | (
                                df1.account_nm == '반기순이익') | (df1.account_nm == '반기순이익(손실)') |
                        (df1.account_nm == '연결분기순이익') | (df1.account_nm == '연결반기순이익') | (
                                df1.account_nm == '연결당기순이익') | (df1.account_nm == '연결분기(당기)순이익') | (
                                df1.account_nm == '연결반기(당기)순이익') |
                        (df1.account_nm == '연결분기순이익(손실)'))
                # 현금흐름표 부분
                condition_8 = (df1.sj_nm == '현금흐름표') & (
                        (df1.account_nm == '영업활동으로 인한 현금흐름') | (df1.account_nm == '영업활동 현금흐름'))

                condition_9 = (df1.sj_nm == '현금흐름표') & (
                        (df1.account_nm == '투자활동으로 인한 현금흐름') | (df1.account_nm == '영업활동 현금흐름'))

                conditions = [condition_1, condition_2, condition_3, condition_4, condition_5, condition_6, condition_7,
                              condition_8]

                stock_code = str(symbol)
                current_assets[j] = 0
                liabilities[j] = 0
                equity[j] = 0
                revenue[j] = 0
                gross_marin[j] = 0
                EBIT[j] = 0
                net_income[j] = 0
                cfo[j] = 0
                cfi[j] = 0

                #for condition in conditions:
                 #   if len(df1[condition]) != 0:
                  #      print(1)


                if len(df1[condition_1]) != 0:
                    current_assets[j] = int(df1.loc[condition_1].iloc[0]['thstrm_amount'])
                if len(df1[condition_2]) != 0:
                    liabilities[j] = int(df1.loc[condition_2].iloc[0]['thstrm_amount'])
                if len(df1[condition_3]) != 0:
                    equity[j] = int(df1.loc[condition_3].iloc[0]['thstrm_amount'])
                if len(df1[condition_4]) != 0:
                    revenue[j] = int(df1.loc[condition_4].iloc[0]['thstrm_amount'])
                if len(df1[condition_5]) != 0:
                    gross_marin[j] = int(df1.loc[condition_5].iloc[0]['thstrm_amount'])
                if len(df1[condition_6]) != 0:
                    EBIT[j] = int(df1.loc[condition_6].iloc[0]['thstrm_amount'])
                if len(df1[condition_7]) != 0:
                    net_income[j] = int(df1.loc[condition_7].iloc[0]['thstrm_amount'])
                if len(df1[condition_8]) != 0:
                    cfo[j] = int(df1[condition_8].iloc[0]['thstrm_amount'])
                if len(df1[condition_9]) != 0:
                    cfi[j] = int(df1[condition_9].iloc[0]['thstrm_amount'])

                fcf[j] = (cfo[j] - cfi[j])

                if k == '11013':  # 1분기.
                    path_string = str(i) + '-03-31'
                elif k == '11012':  # 2분기
                    path_string = str(i) + '-06-30'
                elif k == '11014':  # 3분기
                    path_string = str(i) + '-09-30'
                else:  # 4분기. 1 ~ 3분기 데이터를 더한다음 사업보고서에서 빼야 함
                    path_string = str(i) + '-12-30'
                    revenue[j] = revenue[j] - (revenue[0] + revenue[1] + revenue[2])
                    gross_marin[j] = gross_marin[j] - (gross_marin[0] + gross_marin[1] + gross_marin[2])
                    EBIT[j] = EBIT[j] - (EBIT[0] + EBIT[1] + EBIT[2])
                    net_income[j] = net_income[j] - (net_income[0] + net_income[1] + net_income[2])
                    fcf[j] = fcf[j] - (fcf[0] + fcf[1] + fcf[2])

                # 데이터프레임에 저장하는 부분
                finance_statement.loc[path_string] = [str(stock_code), current_assets[j], liabilities[j], equity[j],
                                        revenue[j], gross_marin[j], EBIT[j], net_income[j], cfo[j], fcf[j]]

                finance_statement.tail()  # 데이터프레임 끝에 저장한다.
                # 너무 잦은 요청이 있을 경우 OpenDart API 측에서 IP 를 차단하니 텀을 둔다.
                time.sleep(0.1)
            else:
                pass
            finance_statements.to_csv
    all_finance_statements = pd.concat([all_finance_statements, finance_statement[1:]],)
    all_finance_statements.to_csv('/content/drive/MyDrive/22캡스톤디자인/krx_statements-2022-02-25.csv', mode='a', header=False, index=True)

    # 원본 dataframe 에도 영향을 끼치게끔 (inplace=True) 첫 행 drop.
    # df2.drop(['1900-01-01'], inplace=True) # 첫 행 drop

# 파일 저장. fileName 에 명시된 경로에 각 종목코드별로 다른 이름으로 저장
#all_finance_statements.to_csv('/content/drive/MyDrive/22캡스톤디자인/finance_statements.csv')

  0%|          | 0/3232 [00:00<?, ?it/s]

024840

  0%|          | 1/3232 [00:49<44:15:07, 49.31s/it]

148020

  0%|          | 2/3232 [01:18<33:38:27, 37.49s/it]

285000

# 40 + 11 + 54 + 30 + 45 + 6 + 58 + 34 + 17 + 40 + 336 + 440

In [12]:
# 처음부터 부터
now = 40 + 11 + 54 + 30 + 45 + 6 + 58 + 34 + 17 + 40 + 336 + 440 + 310
print(f"앞에서부터 {now}")
print(f"{7782 - now} 남음")

앞에서부터 1421
6361 남음

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/22캡스톤디자인/krx_statements-2022-02-24.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 431806 entries, 0 to 431805
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  431806 non-null  object
 1   종목코드        431406 non-null  float64
 2   유동자산        431406 non-null  float64
 3   부채총계        431406 non-null  float64
 4   자본총계        431406 non-null  float64
 5   매출액         431406 non-null  float64
 6   매출총이익       431406 non-null  float64
 7   영업이익        431406 non-null  float64
 8   당기순이익       431406 non-null  float64
 9   영업활동현금흐름    431406 non-null  float64
 10  잉여현금흐름      431406 non-null  float64
dtypes: float64(10), object(1)
memory usage: 36.2+ MB

In [ ]:
df = df.drop_duplicates(['Unnamed: 0','종목코드'])

In [ ]:
df.head(30)

    Unnamed: 0     종목코드          유동자산  ...         당기순이익      영업활동현금흐름        잉여현금흐름
0   1900-01-01      NaN           NaN  ...           NaN           NaN           NaN
2   2015-12-30  60310.0  1.606908e+10  ... -5.599033e+09  0.000000e+00  0.000000e+00
3   2016-06-30  60310.0  1.358261e+10  ... -1.840069e+09  0.000000e+00  0.000000e+00
4   2016-09-30  60310.0  1.798534e+10  ... -4.897230e+08  0.000000e+00  0.000000e+00
5   2016-12-30  60310.0  1.342667e+10  ... -1.073646e+09  0.000000e+00  0.000000e+00
6   2017-06-30  60310.0  1.296385e+10  ...  0.000000e+00  2.717232e+09  2.717232e+09
7   2017-09-30  60310.0  1.542777e+10  ...  3.862790e+08  4.812661e+09  4.812661e+09
8   2017-12-30  60310.0  1.671287e+10  ... -9.190089e+09  0.000000e+00 -7.529894e+09
9   2018-03-31  60310.0  1.199212e+10  ... -1.173541e+09 -1.103669e+09 -1.008845e+09
10  2018-06-30  60310.0  1.329354e+10  ... -4.627946e+08 -2.019487e+08 -2.190692e+07
11  2018-09-30  60310.0  2.002681e+10  ...  1.208046e+09  1.775994e+08  6.215049e+08
12  2018-12-30  60310.0  1.280167e+10  ...  4.282896e+08  4.555587e+09  4.964835e+09
13  2019-03-31  60310.0  1.754567e+10  ...  7.918431e+08  0.000000e+00  0.000000e+00
14  2019-06-30  60310.0  1.709275e+10  ... -2.845130e+08  3.166387e+09  3.177739e+09
15  2019-09-30  60310.0  1.772105e+10  ...  3.371005e+08  1.962180e+09  2.499226e+09
16  2019-12-30  60310.0  1.807934e+10  ...  5.666505e+08  2.854515e+09 -2.825071e+09
17  2020-03-31  60310.0  1.546657e+10  ... -4.672999e+08  0.000000e+00  0.000000e+00
18  2020-06-30  60310.0  1.933535e+10  ... -7.142743e+08 -1.612113e+09 -2.431923e+08
19  2020-09-30  60310.0  1.889332e+10  ...  1.947000e+08 -2.012195e+08  3.486684e+09
20  2020-12-30  60310.0  1.610033e+10  ... -9.348416e+07  1.188555e+09 -1.033712e+09
21  2021-03-31  60310.0  1.947504e+10  ... -3.628820e+08  0.000000e+00  0.000000e+00
22  2021-06-30  60310.0  2.316186e+10  ...  1.482705e+09 -3.170402e+08  1.298060e+09
23  2021-09-30  60310.0  2.847545e+10  ...  1.022088e+09  4.568417e+09  8.637012e+09
24  2021-12-30  60310.0  1.807067e+10  ... -1.446576e+09  8.710886e+08 -7.250311e+09
49  2015-12-30  95570.0  2.527744e+11  ...  2.899107e+10  0.000000e+00  0.000000e+00
50  2016-03-31  95570.0  0.000000e+00  ...  6.047832e+09  0.000000e+00  0.000000e+00
51  2016-06-30  95570.0  0.000000e+00  ...  6.572797e+09  0.000000e+00  0.000000e+00
52  2016-09-30  95570.0  0.000000e+00  ...  0.000000e+00  0.000000e+00  0.000000e+00
53  2016-12-30  95570.0  0.000000e+00  ... -1.262063e+10  0.000000e+00  0.000000e+00
54  2017-03-31  95570.0  0.000000e+00  ...  0.000000e+00  0.000000e+00  0.000000e+00

[30 rows x 11 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1472 entries, 0 to 121213
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1472 non-null   object
 1   종목코드        1471 non-null   float64
 2   유동자산        1471 non-null   float64
 3   부채총계        1471 non-null   float64
 4   자본총계        1471 non-null   float64
 5   매출액         1471 non-null   float64
 6   매출총이익       1471 non-null   float64
 7   영업이익        1471 non-null   float64
 8   당기순이익       1471 non-null   float64
 9   영업활동현금흐름    1471 non-null   float64
 10  잉여현금흐름      1471 non-null   float64
dtypes: float64(10), object(1)
memory usage: 138.0+ KB

```javascript
function ClickConnect(){
    console.log("코랩 연결 끊김 방지"); 
    document.querySelector("colab-toolbar-button#connect").click() 
}
setInterval(ClickConnect, 60 * 1000)
```

In [10]:
worked = []
for symbol in symbols:
  if str.isdigit(symbol[:5]) and len(symbol) < 7:
    worked.append(symbol)

In [11]:
len(worked)

3435

In [13]:
worked.index('024840')

203

In [14]:
worked[203:]

['024840',
 '148020',
 '285000',
 '361580',
 '287300',
 '287310',
 '290080',
 '284980',
 '287320',
 '287330',
 '252400',
 '252410',
 '252420',
 '284990',
 '285010',
 '285020',
 '315480',
 '105780',
 '290130',
 '368200',
 '367760',
 '367770',
 '388280',
 '326240',
 '385560',
 '385550',
 '385540',
 '270800',
 '292050',
 '307010',
 '319870',
 '403990',
 '234310',
 '241390',
 '401170',
 '300640',
 '266160',
 '114100',
 '282000',
 '295000',
 '295020',
 '397420',
 '397410',
 '276650',
 '375270',
 '411720',
 '417450',
 '399580',
 '336160',
 '326230',
 '272560',
 '196230',
 '315960',
 '252730',
 '252720',
 '379780',
 '219390',
 '354240',
 '368590',
 '267440',
 '267490',
 '267450',
 '267500',
 '388420',
 '140570',
 '140580',
 '379790',
 '183710',
 '310080',
 '174360',
 '136340',
 '281990',
 '272570',
 '250730',
 '291680',
 '371150',
 '183700',
 '270810',
 '278240',
 '275750',
 '302450',
 '361590',
 '334690',
 '334700',
 '253280',
 '253290',
 '105560',
 '024120',
 '002380',
 '021320',
 '344820',
 '036670',
 '009070',
 '009440',
 '112190',
 '119650',
 '044180',
 '092220',
 '151860',
 '016380',
 '016385',
 '046440',
 '035600',
 '001390',
 '226360',
 '111870',
 '033180',
 '060720',
 '105190',
 '332500',
 '368470',
 '380340',
 '226380',
 '414270',
 '356540',
 '411060',
 '277540',
 '225130',
 '365780',
 '114460',
 '299070',
 '299080',
 '190620',
 '265690',
 '152500',
 '291130',
 '342140',
 '280320',
 '360200',
 '309230',
 '402970',
 '367380',
 '181480',
 '391590',
 '391600',
 '143460',
 '245710',
 '371130',
 '131890',
 '108450',
 '322130',
 '272220',
 '272230',
 '322120',
 '322150',
 '316300',
 '256440',
 '145670',
 '238720',
 '196030',
 '205720',
 '416090',
 '168580',
 '219900',
 '272910',
 '371870',
 '251890',
 '354500',
 '305050',
 '261920',
 '001940',
 '122450',
 '052900',
 '058400',
 '069500',
 '226980',
 '337160',
 '363580',
 '278530',
 '337150',
 '223190',
 '252650',
 '360140',
 '284430',
 '252670',
 '305720',
 '271060',
 '368680',
 '395170',
 '337120',
 '325010',
 '395160',
 '395150',
 '266370',
 '401470',
 '385520',
 '385510',
 '373490',
 '292190',
 '306950',
 '404260',
 '229720',
 '291890',
 '289040',
 '156080',
 '278540',
 '275280',
 '275290',
 '275300',
 '269420',
 '329650',
 '329660',
 '329670',
 '352540',
 '315930',
 '261220',
 '271050',
 '117700',
 '300950',
 '266390',
 '279530',
 '132030',
 '280940',
 '138910',
 '114260',
 '152380',
 '176950',
 '292770',
 '276990',
 '102960',
 '352560',
 '273140',
 '153130',
 '214980',
 '122630',
 '321410',
 '244620',
 '314250',
 '379800',
 '219480',
 '276970',
 '185680',
 '200030',
 '218420',
 '379810',
 '409820',
 '304940',
 '409810',
 '261240',
 '261250',
 '261270',
 '261260',
 '280930',
 '411420',
 '390390',
 '390400',
 '308620',
 '304660',
 '304670',
 '266360',
 '244580',
 '091160',
 '325020',
 '211900',
 '237370',
 '244670',
 '140700',
 '102780',
 '213610',
 '251350',
 '117460',
 '140710',
 '400570',
 '144600',
 '091170',
 '114800',
 '101280',
 '091180',
 '363570',
 '273130',
 '102970',
 '169950',
 '283580',
 '099140',
 '204450',
 '415340',
 '256750',
 '372330',
 '117680',
 '279540',
 '229200',
 '233740',
 '360150',
 '251340',
 '226490',
 '237350',
 '359210',
 '337140',
 '138920',
 '244660',
 '375770',
 '266410',
 '298770',
 '266420',
 '364690',
 '069660',
 '294400',
 '253250',
 '253240',
 '253230',
 '331910',
 '100910',
 '104530',
 '148070',
 '167860',
 '114470',
 '130730',
 '411860',
 '394340',
 '394350',
 '138230',
 '225800',
 '139660',
 '230480',
 '373790',
 '104520',
 '200250',
 '316670',
 '291630',
 '291620',
 '153270',
 '122260',
 '114450',
 '025000',
 '092230',
 '000040',
 '044450',
 '030200',
 '033780',
 '030210',
 '168300',
 '058850',
 '058860',
 '060370',
 '093050',
 '003550',
 '034220',
 '051900',
 '051905',
 '373220',
 '003555',
 '032640',
 '011070',
 '066570',
 '066575',
 '037560',
 '051910',
 '051915',
 '079550',
 '006260',
 '010120',
 '000680',
 '229640',
 '108320',
 '001120',
 '108670',
 '108675',
 '383800',
 '38380K',
 '407170',
 '407160',
 '023150',
 '035420',
 '160550',
 '053290',
 '181710',
 '104200',
 '060250',
 '400760',
 '005940',
 '005945',
 '338100',
 '034310',
 '030190',
 '008260',
 '004250',
 '004255',
 '010060',
 '178920',
 '024940',
 '005490',
 '550060',
 '550066',
 '550059',
 '550044',
 '550042',
 '550069',
 '550062',
 '550064',
 '550041',
 '550045',
 '550043',
 '550070',
 '550063',
 '550065',
 '550061',
 '550068',
 '550067',
 '550057',
 '218410',
 '327260',
 '091340',
 '010950',
 '010955',
 '019550',
 '950110',
 '034120',
 '046140',
 '036120',
 '099220',
 '036540',
 '255220',
 '040610',
 '049470',
 '184230',
 '005090',
 '016250',
 '001380',
 '004060',
 '001770',
 '002360',
 '009160',
 '123700',
 '025530',
 '034730',
 '337450',
 '340350',
 '011790',
 '018670',
 '001740',
 '001745',
 '006120',
 '006125',
 '210980',
 '068400',
 '395400',
 '302440',
 '326030',
 '402340',
 '361610',
 '03473K',
 '096770',
 '096775',
 '001510',
 '001515',
 '285130',
 '28513K',
 '017670',
 '000660',
 '048550',
 '063440',
 '950180',
 '064960',
 '100840',
 '003570',
 '036530',
 '411540',
 '295040',
 '363510',
 '292500',
 '404650',
 '400590',
 '399110',
 '208470',
 '400580',
 '220130',
 '415760',
 '413220',
 '005610',
 '011810',
 '077970',
 '071970',
 '002820',
 '289080',
 '084870',
 '002710',
 '089230',
 '161570',
 '192410',
 '102110',
 '139260',
 '139220',
 '139290',
 '139270',
 '227550',
 '227560',
 '139250',
 '139230',
 '139240',
 '227540',
 '243880',
 '310960',
 '252000',
 '267770',
 '252710',
 '243890',
 '315270',
 '166400',
 '289480',
 '305540',
 '365040',
 '357870',
 '400970',
 '396500',
 '377990',
 '417630',
 '341850',
 '364960',
 '412560',
 '364980',
 '412570',
 '292160',
 '364990',
 '404540',
 '364970',
 '365000',
 '228820',
 '300610',
 '138530',
 '289260',
 '289250',
 '310970',
 '269370',
 '248270',
 '292150',
 '217790',
 '139280',
 '237440',
 '319640',
 '160580',
 '114820',
 '275980',
 '387270',
 '394670',
 '412770',
 '418670',
 '276000',
 '394660',
 '371450',
 '139310',
 '139320',
 '137610',
 '182490',
 '272580',
 '157450',
 '105010',
 '123320',
 '174350',
 '147970',
 '182480',
 '360750',
 '225040',
 '143850',
 '225030',
 '133690',
 '418660',
 '203780',
 '245340',
 '329750',
 '261110',
 '261120',
 '305080',
 '381170',
 '381180',
 '228810',
 '091230',
 '098560',
 '211560',
 '329200',
 '138520',
 '157490',
 '228800',
 '227570',
 '261140',
 '130680',
 '217770',
 '195930',
 '225050',
 '245350',
 '091220',
 '307510',
 '225060',
 '236350',
 '123310',
 '195920',
 '248260',
 '241180',
 '292560',
 '150460',
 '302190',
 '157500',
 '307520',
 '192090',
 '204480',
 '217780',
 '245360',
 '414780',
 '371470',
 '396520',
 '371460',
 '396510',
 '117690',
 '371160',
 '232080',
 '233160',
 '261060',
 '261070',
 '250780',
 '277630',
 '210780',
 '277640',
 '277650',
 '376410',
 '387280',
 '143860',
 '138540',
 '228790',
 '385710',
 '385720',
 '410870',
 '404120',
 '032540',
 '048770',
 '108590',
 '145850',
 '570047',
 '570074',
 '570050',
 '570049',
 '570071',
 '570055',
 '570051',
 '570031',
 '570022',
 '570072',
 '570059',
 '570043',
 '570065',
 '570054',
 '570061',
 '570045',
 '570063',
 '570048',
 '570057',
 '570032',
 '570023',
 '570073',
 '570060',
 '570044',
 '570066',
 '570027',
 '570062',
 '570046',
 '570028',
 '570056',
 '570042',
 '570064',
 '570025',
 '570058',
 '570053',
 '570068',
 '570067',
 '570029',
 '570019',
 '570052',
 '246690',
 '317240',
 '002900',
 '038340',
 '073570',
 '024070',
 '413930',
 '057030',
 '037270',
 '040300',
 '051390',
 '052220',
 '079940',
 '078890',
 '000500',
 '036620',
 '000860',
 '217730',
 '035250',
 '114190',
 '094480',
 '011420',
 '039240',
 '053950',
 '002100',
 '009450',
 '267290',
 '012320',
 '011040',
 '000050',
 '214390',
 '012610',
 '009140',
 '024910',
 '013580',
 '012200',
 '012205',
 '002140',
 '198440',
 '049720',
 '010130',
 '002240',
 '014570',
 '348150',
 '098460',
 '035290',
 '038530',
 '900280',
 '215000',
 '121440',
 '183410',
 '076340',
 '009290',
 '014200',
 '017040',
 '017900',
 '037710',
 '026910',
 '355150',
 '397880',
 '331520',
 '030610',
 '339770',
 '053270',
 '007690',
 '005320',
 '001140',
 '066620',
 '043650',
 '006050',
 '060480',
 '078130',
 '307750',
 '002720',
 '243870',
 '204020',
 '083420',
 '186230',
 '014530',
 '900070',
 '204620',
 '019660',
 '014280',
 '014285',
 '053260',
 '008870',
 '001570',
 '002990',
 '002995',
 '011780',
 '011785',
 '214330',
 '001210',
 '073240',
 '036190',
 '049080',
 '035460',
 '092440',
 '000270',
 '024110',
 '013700',
 '308100',
 '004540',
 '004545',
 '187790',
 '286750',
 '151910',
 '121600',
 '247660',
 '039860',
 '091970',
 '244880',
 '288490',
 '051490',
 '137080',
 '190510',
 '242040',
 '089600',
 '293580',
 '257990',
 '138610',
 '130580',
 '036800',
 '267320',
 '001260',
 '008350',
 '008355',
 '004270',
 '003920',
 '003925',
 '025860',
 '111710',
 '091590',
 '168330',
 '385590',
 '411050',
 '385600',
 '094860',
 '253590',
 '212560',
 '095660',
 '042420',
 '950220',
 '311390',
 '085910',
 '092730',
 '290660',
 '306620',
 '153460',
 '007390',
 '086220',
 '033640',
 '330860',
 '005720',
 '005725',
 '002350',
 '002355',
 '089140',
 '065170',
 '003580',
 '137940',
 '348210',
 '041140',
 '217270',
 '225570',
 '251270',
 '317860',
 '104620',
 '090350',
 '090355',
 '000320',
 '000325',
 '194700',
 '285490',
 '229500',
 '106520',
 '278650',
 '006280',
 '142280',
 '234690',
 '005250',
 '005257',
 '065560',
 '004370',
 '072710',
 '054050',
 '069140',
 '040160',
 '126870',
 '060260',
 '012340',
 '214870',
 '270870',
 '144960',
 '085670',
 '119860',
 '064260',
 '093640',
 '340360',
 '039560',
 '058730',
 '023590',
 '032190',
 '323350',
 '068240',
 '145210',
 '271850',
 '343090',
 '019680',
 '019685',
 '006370',
 '008060',
 '00806K',
 '353200',
 '35320K',
 '000490',
 '178600',
 '020400',
 '008830',
 '048470',
 '008110',
 '004780',
 '005750',
 '017650',
 '006570',
 '007720',
 '317850',
 '290670',
 '078140',
 '001680',
 '001685',
 '084690',
 '084695',
 '036480',
 '128820',
 '117580',
 '025440',
 '027830',
 '104040',
 '016710',
 '510007',
 '510005',
 '510017',
 '510001',
 '510011',
 '510003',
 '510015',
 '510002',
 '510014',
 '510010',
 '510006',
 '510004',
 '510018',
 '510019',
 '510009',
 '510016',
 '510008',
 '387310',
 '397500',
 '332290',
 '336570',
 '020180',
 '003540',
 '003547',
 '003545',
 '045390',
 '009190',
 '108380',
 '006580',
 '014160',
 '047040',
 '009320',
 '042660',
 '003090',
 '069620',
 '007680',
 '000430',
 '048910',
 '005710',
 '006340',
 '006345',
 '003220',
 '024890',
 '290380',
 '002880',
 '290120',
 '000300',
 '120240',
 '003310',
 '114920',
 '078600',
 '012800',
 '015230',
 '096350',
 '140520',
 '131220',
 '010170',
 '060900',
 '054670',
 '001070',
 '023910',
 '006650',
 '001440',
 '084010',
 '001790',
 '001795',
 '001130',
 '003490',
 '003495',
 '005880',
 '003830',
 '016090',
 '069460',
 '021040',
 '021045',
 '067080',
 '298540',
 '192080',
 '299170',
 '012510',
 '302920',
 '213420',
 '317330',
 '077360',
 '004830',
 '004835',
 '090410',
 '024900',
 '263600',
 '194480',
 '348840',
 '263800',
 '199150',
 '206560',
 '261200',
 ...]